body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:  18px;
}

header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
}
header h1 a {
    color: red;
    text-decoration: none;
}

header h1 a:hover{
    color: blue;
}
