<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Blog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">

</head>
<body>
    <header>
        <div class="nav-left">
            <h1><a href="/">Django blog</a></h1>
        </div>
        <div class="nav-right">
            <a href="{% url 'post_new' %}">+ add Blog</a>
        </div>
    </header>

    {% if user.is_authenticated %}
        <p>HI {{ user.username }}!</p>
        <a href="{% url 'logout' %}">Log out</a>
    {% else %}
        <p> you are not logged in.</p>
        <a href="{% url 'login' %}">Login</a>

    {% endif %}
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>